* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.centered
{
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

#page_login,
#page_register
{
  background: url(../img/bg_green.jpg);
}

.header.ui-bar-a
{
  background-color: white;
  background-image: none;
}

.header img.mini_logo
{
  width: 40%;
  padding: 5px;
}

.blue_box
{
  width: 47%;
  float: left;
  font-size: 12px;
}

.blue_box.with_margin
{
  margin-left: 4% !important;
}

.logo
{
  width: 85%;
}

.ui-btn-inner
{
  white-space: normal !important;
}

.clear
{
  display: block;
  width: 100%;
  clear: both;
}

.nav_strip
{
  background-color: #353535;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  height: 20px;
  position: relative;
}

.nav_strip div
{

  height: 20px;
  width: 1000px;
  position: absolute;
  left: 20px;
}

.nav_strip div a
{
  width: 200px;
  display: block;
  float: left;
}

#white_arrow
{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 7px;
}

input
{
  -webkit-user-select: auto !important;
}

.ui-bar.gp_header,
.ui-btn.gp_submit
{
  text-transform: none;
  font-weight: normal;
  text-align: center;
}

#result_time_course h3
{
  color: #268ACC;
  text-transform: none;
}

.result_time_course
{
  border-width: 0px 0px 1px 0px;
  border-color: #C3C3C3;
  border-style: dotted;
  clear: left;
}

.result_time_openings a
{
  display: block;
  width: 65px;
  height: 40px;
  background-image: url(../img/bg_time.png);
  float: left;
  margin: 0px 10px 10px 0px;
  color: white !important;
  font-size: 12px;
  line-height: 21px;
  text-decoration: none;
  font-weight: normal !important; 
}

#profile_thumb
{
  position: absolute;
  top: 0px;
  left: 0px;
}

#profile_button .ui-btn-inner
{
  background-repeat: no-repeat;
  background-size: contain;
}

body
{
  text-transform: none !important;
}

#page_home .ui-btn-up-b
{
  font-weight: normal;
}

#page_home .blue_box img
{
  width: 64%;
}

.upcoming_golf_block
{
  font-weight: normal;
  font-size: 12px;
}

#big_picture_box img
{
  width: 100%;
}

#page_profile table
{
  width: 60%;
  margin: 5% 20%;
}

#map
{
  width: 100%;
  height: 300px;
}

#ratings img
{
  margin-top: 5px;
}

.errors
{
  color: red;
  padding: 10px;
}

.alerts
{
  color: green;
  padding: 10px;
}

.hidden
{
  display: none;
}

#loading
{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5000;
  background-image: url(../img/pixels/pixel_black_70.png);
  display: none;
}

#loading img
{
  width: 20%;
  margin-top:25%;
}
