<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="css/jquery.mobile-1.3.1.css" />
    <link rel="stylesheet" type="text/css" href="js/pickadate.js-3.2.0/lib/themes/classic.css" />
    <link rel="stylesheet" type="text/css" href="js/pickadate.js-3.2.0/lib/themes/classic.date.css" />
    <link rel="stylesheet" type="text/css" href="js/pickadate.js-3.2.0/lib/themes/classic.time.css" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <title>Golf Pipeline</title>
  </head>
  <body>
    <div id="loading">
      <center>
        <img src="./img/loading.gif" />
      </center>
    </div>
    <div data-role="page" id="page_login">
      <div data-role="content">
        <br /><br />
        <center>
          <img src="./img/logo.png" class="logo" />
        </center>
        <br /><br />
        <form action="" id="login_form" method="get">
          <input type="text" name="username" id="login_username" class="required" placeholder="Username" />
          <input type="password" class="required" name="password" id="login_password" placeholder="Password" />
          <input type="submit" value="Log In" id="login_submit" data-theme="b" />
        </form>
        <div id="login_errors"></div>
        <!--
        <br /><br />
        <a href="#page_register" data-role="button" data-theme="b">Sign Up for Golf Pipeline</a>
        -->
      </div>
    </div>

    <div data-role="page" id="page_home">
      <div data-role="header" data-position="fixed" class="header" data-id="moving_target"></div>
      <div data-role="content">
        <a href="#page_search-times" data-role="button" data-theme="b" data-corners="false" class="blue_box" style=""><img src="./img/icon_clock.png" /><br />Organize a<br />Tee Time</a>
        <!--
          <a href="#page_upcoming" data-role="button" data-theme="b" class="blue_box with_margin">Upcoming Golf</a>
        -->
        <a href="#page_upcoming-golf" data-role="button" data-theme="b" data-corners="false" class="blue_box with_margin"><img src="./img/icon_calendar.png" /><br />Upcoming<br />Golf</a>
        <a href="#page_activities" data-role="button" data-theme="b" data-corners="false" class="blue_box"><img src="./img/icon_bubbles.png" /><br />View<br />Activity</a>
        <a href="#page_search-courses" data-role="button" data-theme="b" data-corners="false" class="blue_box with_margin"><img src="./img/icon_glass.png" /><br />Course<br />Lookup</a>
        <div class="clear"></div>
        <a href="#page_profile" data-role="button" data-theme="b" data-corners="false" id="profile_button">View/Edit Profile</a>
        <a href="http://www.golfpipeline.com" data-role="button" data-theme="b" data-corners="false">Visit mobile site<br />to post recent scores</a>
      </div>
      <div data-role="footer" data-position="fixed" class="footer" data-id="social_bar"></div>
    </div>

    <div data-role="page" id="page_profile">
      <div data-role="header" data-position="fixed" class="header" data-id="moving_target"></div>
      <div data-role="content">
        <div id="big_picture_box"></div>
        <div class="ui-bar ui-bar-b gp_header">
          Details
        </div>
        <div id="profile_holder">
        </div>
      </div>
      <div data-role="footer" data-position="fixed" class="footer" data-id="social_bar"></div>
    </div>

    <div data-role="page" id="page_edit-profile">
      <div data-role="header" data-position="fixed" class="header" data-id="moving_target"></div>
      <div data-role="content">
        <form action="" id="update-profile_form" method="get">
          <div id="profile-editor_holder">
          </div>
        </form>
      </div>
    </div>

    <div data-role="page" id="page_activities">
      <div data-role="header" data-position="fixed" class="header" data-id="moving_target"></div>
      <div data-role="content">
        <div id="activities_holder">
        </div>
      </div>
    </div>

    <div data-role="page" id="page_social">
      <div data-role="header" data-position="fixed" class="header" data-id="moving_target"></div>
      <div data-role="content">
        <div id="notifications_holder">
        </div>
      </div>
    </div>

    <div data-role="page" id="page_upcoming-golf">
      <div data-role="header" data-position="fixed" class="header" data-id="moving_target"></div>
      <div data-role="content">
        <div class="ui-bar ui-bar-b gp_header">
          Upcoming Golf
        </div>
        <div class="alerts"></div>
        <div id="tee-times_holder">
        </div>
      </div>
      <div data-role="footer" data-position="fixed" class="footer" data-id="social_bar"></div>
    </div>

    <div data-role="page" id="page_options">
      <div data-role="header" data-position="fixed" class="header" data-id="moving_target"></div>
      <div data-role="content">
        These are options.
      </div>
    </div>

    <div data-role="page" id="page_register">
      <div data-role="header" data-position="fixed" class="header" data-id="moving_target"></div>
      <div data-role="content">
        <br /><br />
        <center>
          Sign up for Golf Pipeline
        </center>
        <br /><br />
        <form action="" id="register_form" method="get">
          <input type="text" autocapitalize="off" autocorrect="off" name="username" id="register_username" class="required" placeholder="Username" />
          <input type="text" autocapitalize="off" autocorrect="off" name="password" id="register_password" placeholder="Password" />
          <input type="submit" value="Register" id="register_submit" data-theme="b" />
        </form>
        <div id="register_errors"></div>
      </div>
    </div>

    <div data-role="page" id="page_search-courses">
      <div data-role="header" data-position="fixed" class="header" data-id="moving_target"></div>
      <div data-role="content">
        <form action="#page_result-courses" id="search-courses_form" method="get">
          <input type="text" name="center" id="search-courses_location" class="required" minlength="3" placeholder="Location" />
          <input type="text" name="distance" id="search-courses_distance" class="required" placeholder="Distance" />
          <input type="submit" value="Search" id="search-courses_submit" data-theme="b" />
        </form>
        <div id="search-courses_errors"></div>
      </div>
      <div data-role="footer" data-position="fixed" class="footer" data-id="social_bar"></div>
    </div>

    <div data-role="page" id="page_search-times">
      <div data-role="header" data-position="fixed" class="header" data-id="moving_target"></div>
      <div data-role="content">
        <div class="ui-bar ui-bar-b gp_header">
          Search Tee Times
        </div>
        <div class="errors hidden"></div>
        <form action="#page_result-times" id="search-times_form" method="get">
          <input type="text" name="center" id="search-times_location" class="required" minlength="3" placeholder="Location" />
          <select name="distance" id="search-times_distance" class="required" placeholder="Distance">
            <option value="10">10 miles</option>
            <option value="25">25 miles</option>
            <option value="50">50 miles</option>
            <option value="100">100 miles</option>
            <option value="250">250 miles</option>
            <option value="100000">Unlimited</option>
          </select>
          <input type="text" name="date" id="search-times_date" class="required datepicker" placeholder="Date" />
          <input type="text" name="time" id="search-times_time" class="required timepicker" placeholder="Time" />
          <select name="golfer-count" id="search-times_golfer-count" class="required" placeholder="Golfer Count">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
          <input type="submit" value="Search" id="search-times_submit" class="gp_submit" data-theme="b" />
        </form>
        <div id="search-times_errors"></div>
      </div>
      <div data-role="footer" data-position="fixed" class="footer" data-id="social_bar"></div>
    </div>
 
    <div data-role="page" id="page_result-times">
      <div data-role="header" data-position="fixed" class="header" data-id="moving_target"></div>
      <div data-role="content">
        <div class="ui-bar ui-bar-b gp_header">
          Search Results
        </div>
        <div id="results_times">
        </div>
      </div>
      <div data-role="footer" data-position="fixed" class="footer" data-id="social_bar"></div>
    </div>

    <div data-role="page" id="page_result-courses">
      <div data-role="header" data-position="fixed" class="header" data-id="moving_target"></div>
      <div data-role="content">
        These are courses that match the search.
        <ul id="results_courses">
        </ul>
      </div>
      <div data-role="footer" data-position="fixed" class="footer" data-id="social_bar"></div>
    </div>

    <div data-role="page" id="page_course">
      <div data-role="header" data-position="fixed" class="header" data-id="moving_target"></div>
      <div data-role="content">
        This is the course show page.<br /><br />
        <div id="course_details"><i>The details could not be loaded.</i></div>
      </div>
      <div data-role="footer" data-position="fixed" class="footer" data-id="social_bar"></div>
    </div>

    <div data-role="page" id="page_tee">
      <div data-role="header" data-position="fixed" class="header" data-id="moving_target"></div>
      <div data-role="content">
        <div id="tee_holder">
        </div>
      </div>
      <div data-role="footer" data-position="fixed" class="footer" data-id="social_bar"></div>
    </div>

    <div data-role="page" id="page_book">
      <div data-role="header" data-position="fixed" class="header" data-id="moving_target"></div>
      <div data-role="content">
        <div id="book_holder">
          <h1>Tee Time Details</h1>
        </div>
      </div>
      <div data-role="footer" data-position="fixed" class="footer" data-id="social_bar"></div>
    </div>

    <div data-role="page" id="page_time">
      <div data-role="header" data-position="fixed" class="header" data-id="moving_target"></div>
      <div data-role="content">
        <div id="time_holder">
        </div>
      </div>
      <div data-role="footer" data-position="fixed" class="footer" data-id="social_bar"></div>
    </div>

    <div data-role="page" id="page_payment">
      <div data-role="header" data-position="fixed" class="header" data-id="moving_target"></div>
      <div data-role="content">
        <div id="payment_holder">
        </div>
      </div>
      <div data-role="footer" data-position="fixed" class="footer" data-id="social_bar"></div>
    </div>

    <div data-role="page" id="page_result-payment">
      <div data-role="header" data-position="fixed" class="header" data-id="moving_target"></div>
      <div data-role="content">
        <div class="ui-bar ui-bar-b gp_header">
          Payment Result
        </div>
      </div>
      <div data-role="footer" data-position="fixed" class="footer" data-id="social_bar"></div>
    </div>

    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="js/jquery-1.10.1.js"></script>
    <script type="text/javascript" src="js/jquery.mobile-1.3.1.js"></script>
    <script type="text/javascript" src="js/jquery-ui.js"></script>
    <script type="text/javascript" src="js/pickadate.js-3.2.0/lib/picker.js"></script>
    <script type="text/javascript" src="js/pickadate.js-3.2.0/lib/picker.date.js"></script>
    <script type="text/javascript" src="js/pickadate.js-3.2.0/lib/picker.time.js"></script>
    <script type="text/javascript" src="js/jquery.validate.js"></script>
    <script type="text/javascript" src="js/underscore-min.js"></script>
    <script type="text/javascript" src="js/backbone-min.js"></script>
    <script type="text/javascript" src="js/additional-methods.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
    <script type="text/javascript" src="js/models.js"></script>
    <script type="text/javascript" src="js/api.js"></script>
    <script type="text/javascript" src="js/partials.js"></script>
    <script type="text/javascript" src="js/navigation.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript">
    $(document).ready( function()
    {
      app.initialize();
    });
    </script>
  </body>
</html>

<script type="text/template" id="time-results_template">
  <% slots = new Array(); %>
  <% time_results.each(function(tee_time) { %>
    <div class="result_time_course">
      <h3><%- tee_time.get("course_name") %></h3>
      <h4><%- tee_time.get("name") %></h4>
      <div id="ratings">
        User Rating:
        <% for (var i=0;i<tee_time.get("course_user_rating");i++) { %>
          <img src="./img/star.png" />
        <% } %>
        <br />
        Critic Rating:
        <% for (var i=0;i<tee_time.get("course_critic_rating");i++) { %>
          <img src="./img/diamond.png" />
        <% } %>
      </div>
      <div class="result_time_openings">
        <% _.each(tee_time.get("selected"), function(slot) { %>
          <% slots[slot.id] = slot %>
          <a href="#page_tee" class="tee_link" id="tee_link_<%- slot.id %>_<%- slot.course_id %>_<%- slot.tee_time %>">
            <center>
              <% hours   = slot.tee_time.substring(11,16).split(":")[0] %>
              <% minutes = slot.tee_time.substring(11,16).split(":")[1] %>
              <% if (hours > 12) { %><%- hours-12 %><% } else { %><%- hours %><% } %>:<%- minutes %><% if (hours > 11) { %>pm<% } else { %>am<% } %>
              <br />
              $<%- slot.rate %>0
            </center>
          </a>
        <% }); %>
        <br class="clear" />
        <br />
      </div>
    </div>
  <% }); %>
</script>

<script type="text/template" id="time_template">
  <div class="ui-bar ui-bar-b gp_header">
    Tee Time Details
  </div>
  <h3><%- course.get("label") %></h3>
  <div id="ratings">
    User Rating:
    <% for (var i=0;i<course.get("user_rating");i++) { %>
      <img src="./img/star.png" />
    <% } %>
    <br />
    Critic Rating:
    <% for (var i=0;i<course.get("critic_rating");i++) { %>
      <img src="./img/diamond.png" />
    <% } %>
  </div>
  <br /><br />
  <%- course.get("address") %>
  <div id="map"></div>
  <a href="#page_payment"><button id="payment_builder">Next</button></a>
</script>

<script type="text/template" id="payment_template">
  <div class="ui-bar ui-bar-b gp_header">
    Payment Details
  </div>
  <form action="#page_result-payment" id="payment_form" method="get">
    <input type="text" name="center" id="payment_first-name" class="required" minlength="3" placeholder="First Name" value="<%- user.get('first_name') %>" />
    <input type="text" name="center" id="payment_last-name" class="required" minlength="3" placeholder="Last Name" value="<%- user.get('last_name') %>" />
    <input type="text" name="center" id="payment_email" class="required" minlength="3" placeholder="Email" value="<%- user.get('email') %>" />
    <input type="text" name="center" id="payment_phone" class="required" minlength="3" placeholder="Phone #" value="<%- user.get('phone') %>" />
    <input type="text" name="center" id="payment_number" class="required" minlength="3" placeholder="Credit Card #" />
    <input type="text" name="center" id="payment_month" class="required" minlength="3" placeholder="Exp. Month" />
    <input type="text" name="center" id="payment_year" class="required" minlength="3" placeholder="Exp. Year" />
    <input type="submit" value="Book It" />
  </form>
</script>

<script type="text/template" id="notifications_template">
  <div class="ui-bar ui-bar-b gp_header">
    Notifications
  </div>
  <% if (notifications.length > 0) { %>
    <% notifications.each(function(notification) { %>
      <br />
      <div class="ui-bar ui-bar-a gp_header">
        <%- notification.get("message") %>
      </div>
    <% }); %>
  <% } else { %>
    <br />
    <i>You have no notifications.</i>
  <% } %>
</script>

<script type="text/template" id="activities_template">
  <div class="ui-bar ui-bar-b gp_header">
    Activities
  </div>
  <% if (activities.length > 0) { %>
    <% activities.each(function(activity) { %>
      <br />
      <div class="ui-bar ui-bar-a gp_header">
        <%- activity.get("user")["first_name"] %>
        <%- activity.get("user")["last_name"] %>...
      </div>
    <% }); %>
  <% } else { %>
    <br />
    <i>You have no activities.</i>
  <% } %>
</script>

<script type="text/template" id="tee-times_template">
  <% if (tee_times.length > 0) { %>
    <% tee_times.each(function(tee_time) { %>
      <br />
      <div class="ui-bar ui-bar-a gp_header" class="upcoming_golf_block">
        <%- tee_time.get("pretty_time") %><br />
        <%- tee_time.get("course_name") %><br />
        <%- tee_time.get("holes") %> Holes | <%- tee_time.get("rate") %> Per Player
      </div>
    <% }); %>
  <% } else { %>
    <br />
    <i>You have no upcoming golf.</i>
  <% } %>
</script>

<script type="text/template" id="profile_template">
  <table>
    <tr>
      <td>
        First Name
      </td>
      <td>
        <span>
          <%- user.get("first_name") %>
        </span>
      </td>
    </tr>
    <tr>
      <td>
        Last Name
      </td>
      <td>
        <span>
          <%- user.get("last_name") %>
        </span>
      </td>
    </tr>
    <tr>
      <td>
        Favorite Golfer
      </td>
      <td>
        <span>
          <%- user.get("favorite_golfer") %>
        </span>
      </td>
    </tr>
  </table>
  <a href="#page_edit-profile" data-role="button" data-theme="b" data-corners="false">Edit Profile</a>
</script>

<script type="text/template" id="profile-editor_template">
    <input type="text" name="first_name" id="profile_first_name" class="required" placeholder="First Name" value="<%- user.get("first_name") %>" />
    <input type="text" name="last_name" id="profile_last_name" class="required" placeholder="Last Name" value="<%- user.get("last_name") %>" />
    <input type="text" name="favorite-golfer" id="profile_favorite-golfer" class="required" placeholder="Favorite Golfer" value="<%- user.get("favorite_golfer") %>" />
    <input type="submit" value="Update Profile" id="update-profile_submit" data-theme="b" />
<script>
