    <input type="text" name="center" id="payment_first-name" class="required" minlength="3" placeholder="First Name" value="<%- user.get('first_name') %>" />
    <input type="text" name="center" id="payment_last-name" class="required" minlength="3" placeholder="Last Name" value="<%- user.get('last_name') %>" />
    <input type="text" name="center" id="payment_email" class="required" minlength="3" placeholder="Email" value="<%- user.get('email') %>" />
    <input type="text" name="center" id="payment_phone" class="required" minlength="3" placeholder="Phone #" value="<%- user.get('phone') %>" />
    <input type="text" name="center" id="payment_number" class="required" minlength="3" placeholder="Credit Card #" />
    <input type="text" name="center" id="payment_month" class="required" minlength="3" placeholder="Exp. Month" />
    <input type="text" name="center" id="payment_year" class="required" minlength="3" placeholder="Exp. Year" />
    <input type="submit" value="Book It" />
