  <table>
    <tr>
      <td>
        First Name
      </td>
      <td>
        <span>
          <%- user.get("first_name") %>
        </span>
      </td>
    </tr>
    <tr>
      <td>
        Last Name
      </td>
      <td>
        <span>
          <%- user.get("last_name") %>
        </span>
      </td>
    </tr>
    <tr>
      <td>
        Favorite Golfer
      </td>
      <td>
        <span>
          <%- user.attributes.favorite_golfer ? user.attributes.favorite_golfer : user.get("profile")["favorite_golfer"] %>
        </span>
      </td>
    </tr>
    <tr>
      <td>
        Favorite Event
      </td>
      <td>
        <span>
          <%- user.attributes.favorite_event ? user.attributes.favorite_event : user.get("profile")["favorite_event"] %>
        </span>
      </td>
    </tr>
    <tr>
      <td>
        Tournaments Per Year
      </td>
      <td>
        <span>
          <%- user.attributes.tournaments_a_year ? user.attributes.tournaments_a_year : user.get("profile")["tournaments_a_year"] %>
        </span>
      </td>
    </tr>
    <% for (var i = 0; i < selections.length; i++) { %>
      <tr>
        <td><%- selections[i] %></td>
        <td>
          <span>
            <%- user.attributes[selections[i]] ? user.attributes[selections[i]] : user.get("profile")[selections[i]] %>
          </span>
        </td>
      </tr>
    <% } %>
    <tr>
      <td>
        Gender
      </td>
      <td>
        <span>
          <%- user.attributes.gender ? user.attributes["gender"] : user.get("profile")["gender"] %>
        </span>
      </td>
    </tr>
    <tr>
      <td>
        Skill Level
      </td>
      <td>
        <span>
          <%- user.attributes.skill_level ? user.attributes.skill_level : user.get("profile")["skill_level"] %>
        </span>
      </td>
    </tr>
  </table>
  <a href="#page_edit-profile" data-role="button" data-theme="b" data-corners="false">Edit Profile</a>
